<ion-header>
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
    <button (click)="addContact()"> Add a contact </button>
  </ion-toolbar>
</ion-header>

<ion-content>
    
     <div>
        <img src={{imageFile}}>
      </div>
  


  <ion-list>

      <ion-item-sliding *ngFor="let name of contactList; index as i">
        <ion-item>
            <p>Name: {{name.firstName}} {{name.lastName}} Email: {{name.email}}</p>
        </ion-item>
        
        <ion-item-options side="right">
          <button ion-button (click)="editContact(i)">Edit</button>
          <button ion-button color="danger" (click)="deleteContact(i)">Delete</button>

        </ion-item-options>
      </ion-item-sliding>


    </ion-list>

</ion-content>
