<ion-header>
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
      <input #fileInput type="file" accept="image/*" 
          (change)="imageSelected(fileInput.files)" multiple>
    </ion-item>

    <ion-item>
        <div>
            <img src={{imageFile}}>
          </div>
      

    </ion-item>
          


    <ion-item>
      <ion-label>Name</ion-label>
      <ion-input type="text" [(ngModel)]="settings.name" (click)="updateName()"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label>Show Notifications</ion-label>
        <ion-toggle [(ngModel)]="settings.showNotifications"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label>Reminder</ion-label>
        <ion-datetime  display-format="MMM DD, YYYY HH:mm" [(ngModel)]="settings.dateTime"></ion-datetime>

      </ion-item>

      <ion-item>
          <button (click)="updateDateTime()"> update date time  </button>
      </ion-item>
  
  

  </ion-list>
</ion-content>
